{{#login-modal loginName=loginName loginPassword=loginPassword secondFactorToken=secondFactorToken action=(action "login")}}
  {{plugin-outlet name="login-before-modal-body" tagName=""}}
  {{#d-modal-body class=modalBodyClasses}}

    {{#if canLoginLocal}}
      <div class="login-left-side">
        <div class="login-welcome-header">
          <h1 class="login-title">{{i18n "login.header_title"}}</h1> <img src={{wavingHandURL}} alt="" class="waving-hand">
          <p class="login-subheader">{{i18n "login.subheader_title"}}</p>
        </div>
        <div class="modal-footer">
          {{#if canLoginLocal}}
            {{#unless showSecurityKey }}
              {{d-button
                action=(action "login")
                id="login-button"
                form="login-form"
                icon="unlock"
                label=loginButtonLabel
                disabled=loginDisabled
                class="btn btn-large btn-primary"
                tabindex="2"}}
            {{/unless}}

          
            
          {{/if}}
          {{conditional-loading-spinner condition=showSpinner size="small"}}
        </div>
      </div>
    {{/if}}
    {{#if showLoginButtons}}
      {{#if noLoginLocal}}
        <div class="login-left-side">
          <div class="login-welcome-header">
            <h1 class="login-title">{{i18n "login.header_title"}}</h1> <img src={{wavingHandURL}} alt="" class="waving-hand">
            <p class="login-subheader">{{i18n "login.subheader_title"}}</p>
          </div>
        </div>
      {{/if}}

      <div class="login-right-side">
        {{login-buttons externalLogin=(action "externalLogin")}}
      </div>
    {{/if}}
  {{/d-modal-body}}

  {{plugin-outlet name="login-after-modal-footer" tagName=""}}

  <div class={{alertClass}} id="login-alert">{{alert}}</div>
{{/login-modal}}
