<%
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-narrative-bot/assets/javascripts/initializers')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-narrative-bot/assets/javascripts/initializers/new-user-narrative.js')
%>