<%
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-details/assets/javascripts/initializers')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-details/assets/javascripts/initializers/apply-details.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-details/assets/javascripts/lib')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-details/assets/javascripts/lib/discourse-markdown')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-details/assets/javascripts/lib/discourse-markdown/details.js')
%>