<%
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse/components')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse/components/discourse-local-dates-create-form.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse/controllers')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse/controllers/discourse-local-dates-create-modal.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse/templates')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse/templates/components')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse/templates/components/discourse-local-dates-create-form.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse/templates/modal')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/discourse/templates/modal/discourse-local-dates-create-modal.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/initializers')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/lib')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/lib/date-with-zone-helper.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown/discourse-local-dates.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-local-dates/assets/javascripts/lib/local-date-builder.js')
%>