<%
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/components')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/components/composer-presence-display.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/components/topic-presence-display.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/services')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/services/composer-presence-manager.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/templates')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/templates/components')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/templates/components/composer-presence-display.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/templates/components/topic-presence-display.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/templates/connectors')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/templates/connectors/composer-fields')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/templates/connectors/composer-fields/presence.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/templates/connectors/topic-above-footer-buttons')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/discourse-presence/assets/javascripts/discourse/templates/connectors/topic-above-footer-buttons/presence.hbs')
%>