<%
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/lazy-yt/assets/javascripts/initializers')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/lazy-yt/assets/javascripts/initializers/lazyYT.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/lazy-yt/assets/javascripts/lib')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/lazy-yt/assets/javascripts/lib/lazyYT.js')
%>