<%
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/components')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/components/poll-breakdown-chart.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/components/poll-breakdown-option.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/controllers')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/controllers/poll-breakdown.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/controllers/poll-ui-builder.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/discourse')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/discourse/templates')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/discourse/templates/components')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/discourse/templates/components/poll-breakdown-chart.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/discourse/templates/components/poll-breakdown-option.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/discourse/templates/modal')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/discourse/templates/modal/poll-breakdown.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/discourse/templates/modal/poll-ui-builder.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/initializers')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/initializers/add-poll-ui-builder.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/initializers/extend-for-poll.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/lib')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/lib/chart-colors.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/lib/discourse-markdown')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/lib/discourse-markdown/poll.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/lib/even-round.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/widgets')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/poll/assets/javascripts/widgets/discourse-poll.js')
%>