<%
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/components')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/components/color-example.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/components/styleguide-example.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/components/styleguide-icons.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/components/styleguide-link.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/components/styleguide-markdown.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/components/styleguide-section.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/controllers')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/controllers/styleguide-show.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/controllers/styleguide.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/helpers')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/helpers/section-title.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/lib')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/lib/styleguide.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/routes')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/routes/styleguide-show.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/routes/styleguide.js')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/styleguide-route-map.js')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/components')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/components/color-example.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/components/notes')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/components/styleguide-example.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/components/styleguide-icons.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/components/styleguide-link.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/components/styleguide-section.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/00-typography.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/01-font-scale.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/02-buttons.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/03-colors.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/04-icons.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/05-input-fields.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/06-spinners.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/date-time-inputs.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/dropdowns.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/topic-link.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/atoms/topic-statuses.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/index.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/bread-crumbs.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/categories.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/footer-message.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/header-icons.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/navigation-bar.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/navigation-stacked.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/post-menu.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/signup-cta.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/topic-list-item.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/topic-notifications.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/topic-timer-info.hbs')
depend_on('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/00-post.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/01-topic-map.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/03-topic-footer-buttons.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/04-topic-list.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/basic-topic-list.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/categories-list.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/modal.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/navigation.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/site-header.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/suggested-topics.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/organisms/user-about.hbs')
require_asset('/home/cylonix/workspace/myGitlab/discourse/plugins/styleguide/assets/javascripts/discourse/templates/styleguide/show.hbs')
%>